data/mosquitto-config
data/mosquitto-data
data/nodered-data

# home-assistant things
.cloud
.storage
.HA_VERSION
.uuid

deps
tts
__pycache__

secrets.yaml
known_devices.yaml
.env

home-assistant.log
html5_push_registrations.conf
plex.conf
core
acme.json

.vscode