data/deconz-config
data/dnsmasq-config
data/mosquitto-data
data/nodered-data
data/pihole-config
data/portainer-data

# home-assistant things
.cloud
.storage
.HA_VERSION
.uuid
*.pickle

deps
tts
__pycache__

secrets.yaml
known_devices.yaml
.env
passwd
acme.json

home-assistant.log
html5_push_registrations.conf
plex.conf
core
acme.json

.vscode

*-bak/